{% extends 'base.html.twig' %}

{% block title %}Hello Show page!{% endblock %}

{% block body %}

    <table class="table">
        {% for product in products %}
            <tr>
                <td>{{ product.price }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}